// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Montserrat', sans-serif;
}

.search {
  border: 1px solid #5F5F5F;
  font-size: 18px;
  color: #5F5F5F;
  border-radius: 100px;
  width: 80%;
  max-width: 780px;
  min-width: 250px;
  height: 89px;
  justify-content: space-between;
  padding: 0 50px;
  margin: 40px auto;
  input {
    width: 100%;
  }
}

h1 {
  font-size: 42px;
  text-align: center;
}

.list {
  margin: 30px auto;
  width: 70%;
}

.btwn {
  justify-content: space-between;
}

.business {
  border: 1px solid #000;
  padding: 10px;
}

.details {
  font-size: 24px;
  width: 160px;
}

.rating {
  margin-left: 35px;
}

.flex {
  display: flex;
}

.name {
  font-size: 32px;
  font-weight: 500;
}

.restaurant-col {
  font-size: 24px;
}

.sort-options {
  margin-bottom: 30px;
}

.sort-button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  background-color: #F5F5F5;
}
